name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable

    - name: Build
      run: cargo build --release --verbose

    - name: Run tests
      run: cargo test --release --verbose

    - name: Package
      shell: pwsh
      run: |
        $version = (Select-String -Path Cargo.toml -Pattern '^version = "(.*)"').Matches.Groups[1].Value
        $tagName = "v$version-build.$env:GITHUB_RUN_NUMBER"
        echo "TAG_NAME=$tagName" >> $env:GITHUB_ENV
        
        # Files are copied to target/release by build.rs
        Compress-Archive -Path target/release/monitor_switcher.exe, target/release/config.toml, target/release/ControlMyMonitor.exe, target/release/icon.ico -DestinationPath monitor_switcher.zip

    - name: Create Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ env.TAG_NAME }}
        name: Release ${{ env.TAG_NAME }}
        files: monitor_switcher.zip
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
